<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @office_gallery.title %>
</p>

<%= link_to 'Edit', edit_office_gallery_path(@office_gallery) %> |
<%= link_to 'Back', office_galleries_path %>
