<!-- courses model Start -->
<div class="container">
  <div class="modal fade" id="webdesign" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">Web Design</h4>
        </div>
        <div class="modal-body">
        <h2>Webster pro</h2>
          <p>Photoshop CC</p>
          <p>HTML(Hyper Text Markup Language) HTML5</p>
          <p>Dreamweaver CC / Sublime</p>
          <p>CSS</p>
          <p>Bootstrap / Material Design</p>
          <p>Java Scrip</p>
        <h2>Webster Advance</h2>
          <p>PHP</p>
          <p>CMS</p>
          <p>Portal</p>
          <p>Application</p>
          <p>Java Script</p>
          <p>Angular JS</p>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses model End -->
<!-- courses model Start -->
<div class="container">
  <div class="modal fade" id="graphics" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">Graphics Desing</h4>
        </div>
        <div class="modal-body">
      
          <p>Photoshop</p>
          <p>Illustrator</p>
          <p>Indesign</p>
          <p>CSS</p>
          <p>CorelDraw</p>
          <p>Project Work</p>
        </div>
        <div class="modal-footer">
       <!--    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses model End -->
<div class="container">
  <div class="modal fade" id="3D-animation" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">3D-animation</h4>
        </div>
        <div class="modal-body">
        <h2>Animation</h2>
          <p>2D Animation</p>
          <p>Cell Animation</p>
          <p>Elastic Reality</p>
          <p>3D Animation</p>
          <p>3D Studio Max</p>
          <p>Project Work</p>
        <h2>Advance Animation</h2>
          <p>Autodesk Maya</p>
          <p>Product and character modeling</p>
          <p>Texturing and UV Mapping</p>
          <p>Rigging</p>
          <p>Animation and Workflow</p>
          <p>Lighting and setu</p>
          <p>Project Work</p>
        <h2>Autodesk Maya Advance</h2>
          <p>Modeling / Shading / Texturing</p>
          <p>Rigging / Lighting</p>
          <p>character Animation</p>
          <p>Dynamic</p>
          <p>Hair / Fur / ncloth</p>
          <p>Project Work</p>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses model End -->
<!-- courses model Start -->
<div class="container">
  <div class="modal fade" id="photography" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center"> Professional Photography</h4>
        </div>
        <div class="modal-body">
        
          <p>Photography</p>
          <p>Basic fundamental of photography</p>
          <p>Know your camera first</p>
          <p>Lens and its types</p>
          <p>Camera handeling and basic techniques</p>
          <p>What makes a best photograph</p>
          <p>Uses of different lenses</p>
          <p>Flash photography and studio lighting</p>
          <p>How to score in different genre of photography</p>
          <p>How to know good photographs</p>
          <p>Photography and its surroundings</p>
          <p>Archiving and captioning the photographs</p>
          <p>Importanst tools of Adobe Photoshop and light room</p>
          <p>Practical</p>
          <p>Project Work</p>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses model End -->
<!-- courses model Start -->
<div class="container">
  <div class="modal fade" id="vfx" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center"> Television Broadcasting & V.F.X / SOUND and Editing</h4>
        </div>
        <div class="modal-body">
        <h2>Television Broadcasting & V.F.X </h2>
          <p>Premiere</p>
          <p>Chorma Concept (Blue and Green screen</p>
          <p>After Effects</p>
          <p>Audition</p>
          <p>Cubase</p>
          <p>Telivision Broadcast eaditing</p>
          <p>Film editing casting and promos</p>
          <p>Project Work</p>
        <h2> V.F.X / SOUND and Editing</h2>
          <p>Adobe Premiere</p>
          <p>Adobe After Effect</p>
          <p>Cubase</p>
          <p>Program ID / Station ID</p>
        </div>
        <div class="modal-footer">
         <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses model End -->
<!-- courses model Start -->
<div class="container">
  <div class="modal fade" id="film-making" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center"> Film making technology</h4>
        </div>
        <div class="modal-body">
        <h2>pre-production</h2>
          <p>Refining idea</p>
          <p>Story, Screenplay, Dialogue</p>
          <p>Analysis of script & casting</p>
          <p>Location, Sets & Costume</p>
          <p>Sketching & storyboard</p>
        <h2>Cinematography & lighting</h2>
          <p>Introduction to Video and camera</p>
          <p>Types of camera, Know your camera first</p>
          <p>Lenses and it's uses</p>
          <p>Depth of field</p>
          <p>Camera angle and shot size</p>
          <p>Types of camera movement</p>
          <p>Composition, cutting contunity</p>
          <p>Different types of Filters and its use</p>
          <p>Lighting techniques</p>
          <p>Different types of lights used in cinematography</p>
          <p>Different types of equipments and its use</p>
        <h2>Film Making and Direction</h2>
          <p>Director as Visualizer</p>
          <p>Film makes techniques</p>
          <p>Screenplay</p>
          <p>Working with multiple characters</p>
          <p>Sound advice and Equipment choice</p>
          <p>Analytic dramatic continuity</p>
          <p>Handaling Actors</p>
        <h2>Film and video editing</h2>
          <p>Introduction to editing</p>
          <p>linear and Non-linear tools</p>
          <p>Theory of editing</p>
          <p>Editing terminology</p>
          <p>Styles of cutting</p>
          <p>Continuity</p>
          <p>Music Editing</p>
          <p>Basic visual FX</p>
          <p>Rules of non-linear editing</p>
          <p>Visualization</p>
          <p>Multi-track editing</p>
          <p>Basic visual FX</p>
        <h2>Audio Editing</h2>
          <p>Compositing and Arranging Music</p>
          <p>Sound and Foley FX</p>
          <p>Mastering</p>
          <p>Techniques of Dubbing</p>
          <p>Editing Sound</p>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses model End -->
<!-- courses model Start -->
<div class="container">
  <div class="modal fade" id="visual-effect" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center"> Visual Effect</h4>
        </div>
        <div class="modal-body">
      
          <p>CGI Still image</p>
          <p>Motion Graphics</p>
          <p>Tracring / Movematching</p>
          <p>Live Action Image</p>
          <p>Green Screen / Blue Screen</p>
          <p>Motion Graphics</p>
          <p>Digital paint and Rig removal</p>
          <p>CGI Animation</p>
          <p>Effects and physcal simulator</p>
          <p>Compositing</p>
          <p>Visual Effects Reel</p>
          <p>Stereoscopic 3D</p>
        </div>
        <div class="modal-footer">
         <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses model End -->
<!-- courses model Start -->
<div class="container">
  <div class="modal fade" id="storyboard" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center"> Storyboard and Art</h4>
        </div>
        <div class="modal-body">
      
          <p>Sketching</p>
          <p>Anatomy Study</p>
          <p>Character and Environment Development</p>
          <p>Digital painting</p>
          <p>Full phase storyboard</p>
          <p>Project Work</p>
        </div>
        <div class="modal-footer">
        <!--   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses model End -->