<div class="slider-area" id="slider">
	<div class="zigzag-bottom white"></div>
	<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
	    <ol class="carousel-indicators">
	        <li data-target="#carousel" data-slide-to="0" class="active"></li>
	        <li data-target="#carousel" data-slide-to="1"></li>
	        <li data-target="#carousel" data-slide-to="2"></li>
	    </ol>
	    <!-- Carousel items -->
	     <div class="carousel-inner">
	        <div class="active item"><img src="assets/_RAB7905_Final_.jpg" style="height: 100%; width: 100%;"></div>
	        <div class="item"><img src="assets/breather-187923.jpg" style="height: 100%; width: 100%;"></div>
	        <div class="item"><img src="assets/stephen-di-donato-119071.jpg" style="height: 100%; width: 100%;"></div>
	    </div>
	    <!-- Carousel nav -->
	    <!-- <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
	    <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a> -->
	</div>
</div>

<div id="about-us">
<div class="zigzag-bottom red"></div>
	<div class="container">
	<h2 class="about-heading">About us</h2>
<div class="row">
					<p>
					We introduce ourselves as one of the most competitive, innovative and dedicated group of professionalism in it sector.
					</p>
					<p>
					We believe in continuous support, service and mostly we believe in: <b>“QUALITY, EXCELLENCE AND CUSTOMER SATISFACTION” </b>
					
					</p>
					
					<p><b>PIVOT ANIMATION ACADEMY</b> provide the quality add excellence in various full-stack web development, Animation Tranning and Professional Photography.</p>		
			
		</div>
		<!-- <div class="read-more" style="float: right;">
			  <button type="button" class="btn btn-danger">Read More</button>
		</div> -->
	
  
  <!-- Trigger the modal with a button -->
  <button type="button"  class="btn btn-danger" data-toggle="modal" data-target="#myModal" style="float: right">Read More</button>

  <!-- Modal -->
		  <div class="modal fade" id="myModal" role="dialog">
		    <div class="modal-dialog modal-lg">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-body" style="text-align: left; line-height: 20px;">
		          <p style="text-align: left; line-height: 35px; padding-top: 10px;">We introduce <b>Animation Tranning, Photography, Web Designing & Development, Web Promotions, Networking, Hardware Troubleshooting, Computer Supplies/Accessories, Video Editing, Animation , Film Making& Brodcasting  Software Development and Consultants</b> in the most affordable rate. So, be the one to have this great service.</p><hr>
		          <p style="text-align: left;line-height: 35px;">
				<B>PIVOT ANIMATION ACADEMY </B>Established in 2016 to provide the quality add excellence in Animation Tranning  Vidusel Advertisement and Professional Photography
				</p><hr>
				<p style="text-align: left; line-height: 35px;">
				<b>PIVOT ANIMATION ACADEMY</b> is sensitive to the dynamic business environment in rapid growth, efficiency and quick responses are essential to succeed in an emerging global and competitive environment. This scenario translates into the need for having the right information at the right time and at the right cost, which PIVOT ANIMATION ACADEMY is very able and willing to provide.
				</p><hr>
				<p style="text-align: left;line-height: 35px;">
				We believe in continuous support, service and mostly we believe in: <b>“QUALITY, EXCELLENCE AND CUSTOMER SATISFACTION”</b></p>
		        </div>
		       
		      </div>
		      
		    </div>
		  </div>
			</div>
</div>

<!-- Qualified Start -->
<div class="qualified">
<div class="zigzag-bottom white "></div>
	<div class="container">
		<div class="row" style="margin:30px; ">	
			<div class="col-md-3 col-xs-6 text-center">
				<div class="text_wrap"">
					<h3>Qualified Teachers</h3>
					<h2 class="Count">30</h2>
				</div><!--text_wrap-->
			</div><!--col-sm-3-->
			<div class="col-md-3 col-xs-6 text-center">
				<div class="text_wrap">
					<h3>Our Cources</h3>
					<h2 class="Count">29</h2>
				</div><!--text_wrap-->
			</div><!--col-sm-3-->
			<div class="col-md-3 col-xs-6 text-center">
				<div class="text_wrap">
					<h3>Total Students</h3>
					<h2 class="Count">300</h2>
				</div><!--text_wrap-->
			</div><!--col-sm-3-->
			<div class="col-md-3 col-xs-6 text-center">
				<div class="text_wrap">
					<h3>Job Placed</h3>
					<h2 class="Count">150</h2>
				</div><!--text_wrap-->
			</div><!--col-sm-3-->
		</div><!--row-->
	</div><!--container-->
</div><!-- Qualified -->
<!-- Qualified End -->

<!-- Courses Start -->
<div class="courses" id="courses">
<div class="zigzag-bottom red"></div>
	<div class="container">
	<h2 class="course-heading">Courses</h2>
		<div class="row course">
			<div class="col-md-3 col-sm-4 col-xs-6  ">
				<div class="main-icon">
					<a href="" class="courses-icon" data-toggle="modal" data-target="#webdesign" ><img src="assets/web.png" height="120" width="120" ><br>
					<span title="course-title"> Web Development</span>
					</a>
				</div>	
			</div>
			
			<div class="col-md-3 col-sm-4 col-xs-6  ">
				<div class="main-icon">
					<a href="" class="courses-icon" data-toggle="modal" data-target="#graphics"  ><img src="assets/graphics.png" height="120" width="120"><br>
						<span title="course-title"> Graphics</span>
					</a>
				</div>	
			</div>

			<div class="col-md-3 col-sm-4 col-xs-6  ">
				<div class="main-icon">
					<a href="" class="courses-icon" data-toggle="modal" data-target="#3D-animation"  ><img src="assets/3d.png" height="120" width="120"><br>
						<span title="course-title"> 3D Animation</span>
					</a>
				</div>	
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6  ">
				<div class="main-icon">
					<a href="" class="courses-icon" data-toggle="modal" data-target="#photography"  ><img src="assets/photography.png" height="120" width="120"><br>
						<span title="course-title"> Photography</span>
					</a>
				</div>	
			</div>
			
			<div class="col-md-3 col-sm-4 col-xs-6  ">
				<div class="main-icon">
					<a href="" class="courses-icon" data-toggle="modal" data-target="#vfx"  ><img src="assets/vfx.png" height="120" width="120"><br>
						<span title="course-title"> V.F.X</span>
					</a>
				</div>	
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6  ">
				<div class="main-icon">
					<a href="" class="courses-icon" data-toggle="modal" data-target="#film-making"  ><img src="assets/film-making.png" height="120" width="120"><br>
						<span title="course-title"> Film Making</span>
					</a>
				</div>	
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6  ">
				<div class="main-icon">
					<a href="" class="courses-icon" data-toggle="modal" data-target="#visual-effect"  ><img src="assets/visual-effect.png" height="120" width="120"><br>
						<span title="course-title"> Visual Effect</span>
					</a>
				</div>	
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6  ">
				<div class="main-icon">
					<a href="" class="courses-icon" data-toggle="modal" data-target="#storyboard"  ><img src="assets/Storyboard.png" height="120" width="120"><br>
						<span title="course-title"> Storyboard and Art</span>
					</a>
				</div>	
			</div>
		</div>	<!--row-->
	</div><!--container-->
</div><!--Courses -->
<!-- Courses End -->


<!-- Our Work Start -->
 <section id="home_our_work">
 <div class="zigzag-bottom white "></div>
    	<div class="container">
        	<div class="row">
            	<div class="col-sm-12 small_screen_center">
                	<div class="our_work_wrap">
                    	<h2 class="text-center">Why Choose Pivot Animation Academy</h2>
                        <div class="content_wrapper">
                        	<div class="work_content benefit_wrap">
                            	<!-- <h6>10 Benefits of Choosing Nexus <span>IT Consultants to Support Your</span> Computer Network.</h6> -->
                                <ul class="list_wrap">
                                	<li>Helps you in build up your career</li>
                                    <li>Excel you in particulat technology </li>
                                    <li>Develop ideas and screening in real market</li>
                                    <li>Take you to the next floor for the exceller</li>
                                    <li>Make you pro in your choosen technology</li>
                                    <li>High experienced instructors/ trainers </li>
                                    
                                </ul><!--list_wrap-->
                               
                            </div><!--work_content-->
                            <div class="work_content it_expert_content">
                            	<!-- <h6>Top 10 Reasons Why Park City
								<span>Businesses Need Nexus’ IT</span>
								Experts on Their Team.</h6> -->
                                <ul class="list_wrap">
                                	<li>Where creativity comes alive</li>
                                    <li>Friendly learning environment</li>
                                    <li>Good behavior in market / Diplomatic </li>
                                    <li>provide necessary materials you desired</li>
                                    <li>Silent environment for learning </li>
                                    <li>Job orientiation program</li>
                                    
                                    
                                </ul><!--list_wrap-->
                            </div><!--work_content-->
                        </div><!--content_wrapper-->
                    </div><!--our_work_wrap-->
                </div><!--col-sm-12-->
            </div><!--row-->
        </div><!--container-->
    </section><!--home_our_work-->
<!-- Our Work End -->

<!-- Office Gallery Start -->
<div id="office-gallery">
<div class="zigzag-bottom black"></div>
	<div class="container">
	<h2 class="Gallery-heading">Gallery</h2>
		<div class="row gallery">
			<div class="col-md-3 col-sm-4 col-xs-6  ">
			<div class="main-icon">
				<a href="" class="courses-icon" ><img src="assets/web.png" height="120" width="120"><br/></a>
			</div>	
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6  ">
			<div class="main-icon">
				<a href="" class="courses-icon" ><img src="assets/animation.png" height="120" width="120"><br></a>
			</div>	
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6  ">
			<div class="main-icon">
				<a href="" class="courses-icon" ><img src="assets/graphics.png" height="120" width="120"><br></a>
			</div>	
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6  ">
			<div class="main-icon">
				<a href="" class="courses-icon" ><img src="assets/maya.png" height="120" width="120"><br></a>
			</div>	
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6  ">
			<div class="main-icon">
				<a href="" class="courses-icon" ><img src="assets/vfx.png" height="120" width="120"><br></a>
			</div>	
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6  ">
			<div class="main-icon">
				<a href="" class="courses-icon" ><img src="assets/3d.png" height="120" width="120"><br></a>
			</div>	
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6  ">
			<div class="main-icon">
				<a href="" class="courses-icon" ><img src="assets/graphics.png" height="120" width="120"><br></a>
			</div>	
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6  ">
			<div class="main-icon">
				<a href="" class="courses-icon" ><img src="assets/vfx.png" height="120" width="120"><br></a>
			</div>	
			</div>

		</div><!--row end-->
	</div><!--container-->
</div><!--Office gallery-->
<!--Office Gallery End-->

<!--Contact Start-->
<div class="contact" id="contact" >
<div class="zigzag-bottom white "></div>
	<div class="container">
	<h2 class="contact-heading text-center">Contact</h2>
		<div class="row">
			<div class="col-md-6"> 
			<div class="location">
				<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:400px;width:500px;'><div id='gmap_canvas' style='height:400px;width:500px;'></div><div><small><a href="http://embedgooglemaps.com">embed google maps</a></small></div><div><small><a href="https://webtrafficgeeks.org/">buy adsense safe traffic | webtrafficgeeks.org</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:16,center:new google.maps.LatLng(27.677990477361032,85.34526551315003),mapTypeId: google.maps.MapTypeId.TERRAIN};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(27.677990477361032,85.34526551315003)});infowindow = new google.maps.InfoWindow({content:'<strong>Title</strong><br>kumaripati<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
				</script>	
			</div>	
			</div>
			<div class="col-md-6" > 
				<form id="contact" name="post" method="post" action="/posts" data-remote="true" enctype="multipart/form-data" novalidate class="css-form">
					<div class="row">
	              		<div class="col-md-6 ">
	                		<div class="form-group">
	                  			<input type="text" id="contact_name" name="name" placeholder="Your Name *" class="form-control" required>
	                		</div>
	              		</div>
	              		<div class="col-md-6 ">
	                		<div class="form-group">	           	
	                  			<input  name="email" id="contact_email" type="email" class="form-control" placeholder="Your Email *" required>
	                 		</div>
	              		</div>
	              	</div>

	              	<div class="row">
	              		<div class="col-md-6 ">
	                		<div class="form-group">
	                  			<input id="contact_phone" name="phone" type="number" class="form-control" placeholder="Your Contact *" required>
	                 		</div>
	              		</div>
	             	 	<div class="col-md-6 ">
	                		<div class="form-group">
	                  			<select id="contact_course" name="course" class="form-control" placeholder="select course">
				                  	<option value="" disabled selected hidden>Please Choose Course...</option>
				                  	<option value="Web Design">Webdesign</option>
				                  	<option value="Graphics Design">Graphics Design</option>
				                  	<option value="3D">3D</option>
				                  	<option value="Animation">Animation</option>
				                  	<option value="Film">Film</option>
				                  	<option value="Sketching">Sketching</option>
				                  	<option value="Multimedia">Multimedia</option>
				                  	<option value="Art and StoryBoard">Art and StoryBoard</option>
				                  	<option value="Television">Television Broadcasting</option>
				                  	<option value="AutoDesk Maya">AutoDesk Maya</option>
	                  			</select>
	                		</div>
	            		</div>
	              	</div>
	            
	            	<div class="row">
	              		<div class="col-md-12">
	                		<div class="form-group">
	                  			<textarea id="contact_message" name="message" class="form-control" placeholder="Drop Some Words *" rows="5"></textarea>
	                		</div>
	              		</div>
	            	</div>
	
	            	<div class="form-group">
	              		<section id="contact_submit">
	                		<button type="submit" name="submitlink" id="contact_submit" class="btn btn-lg btn-block btn-flat btn-danger">Send <i class="fa fa-paper-plane"></i></button>
	              		</section>
	            	</div>
          		</form>
          		
          		<div class="contact-info">
		          <p>Kumaripati 083 Lalitpur</p>
			      <p>Bagmati, Nepal</p>
			      <p>Phone/FAX: ++977-01-5512324</p>
				  <p>Email: info@pivotanimationacademy.com</p>
				</div>
			</div><!--col-md-6-->
		</div><!--row-->
	</div><!--container-->
</div><!--contact-->
<!-- Contact End -->





<%= render "courses-modal" %>





