<!-- Footer Start -->
<div class="footer">
	<div class="container">
      	<div class="component">
      		<div class="row">
	        	<a href="https://www.facebook.com/pivotanima/" target="_blank" class="icon icon-mono facebook">facebook</a>
		        <a href="https://www.facebook.com/pivotanima/" target="_blank" class="icon icon-mono twitter">twitter</a>
		        <a href="https://www.facebook.com/pivotanima/" target="_blank" class="icon icon-mono googleplus">google+</a>
	    	</div>    
      	</div><!-- component -->
    	<div class="copyright">2017 © PIVOT ANIMATION ACADEMY. ALL RIGHTS RESERVED.</div>
	</div><!-- container -->
</div><!-- Footer End -->
<!-- Footer End -->