<nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="40">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#slider"><img style="height: 50px;" src="assets/pivot.png"></a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="page-scroll" id="home" href="#slider">Home</a></li>
              <li><a class="page-scroll" href="#about-us">About us</a></li>
              <li><a class="page-scroll" href="#courses">Courses</a></li>
              <li><a class="page-scroll" href="#home_our_work">Why choose Us</a></li>
              <li><a class="page-scroll" href="#office-gallery">Gallery</a></li>
              <li><a class="page-scroll" href="#contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
    </nav> 