	<nav class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="40">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="http://localhost:3000"><img style="height: 50px;" src="../assets/pivot.png"></a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
             <% if !user_signed_in? %>
              <% if request.url == "http://localhost:3000/" %>
                <li><a class="page-scroll" id="home" href="#slider">Home</a></li>
                <li><a class="page-scroll" href="#about-us">About us</a></li>
                <li><a class="page-scroll" href="#courses">Courses</a></li>
                <li><a class="page-scroll" href="#home_our_work">Why choose Us</a></li>
                 <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gallery
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a class="page-scroll" href="#office-gallery">Student Gallery</a></li>
                      <li><a href="/office_galleries">Office Gallery</a></li>
                     
                    </ul>
                  </li>
                <li><a class="page-scroll" href="#contact">Contact Us</a></li>
              <% else %>
                <li><a class="page-scroll" id="home" href="/">Home</a></li>
                    <li><a class="page-scroll" href="/">About us</a></li>
                    <li><a class="page-scroll" href="/">Courses</a></li>
                    <li><a class="page-scroll" href="/">Why choose Us</a></li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gallery
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a class="page-scroll" href="/">Student Gallery</a></li>
                        <li><a href="/office_galleries">Office Gallery</a></li>
                       
                      </ul>
                    </li>
                  <li><a class="page-scroll" href="/">Contact Us</a></li>
              <% end %>
              <% end %>
              <% if user_signed_in? %>
                <% if current_user.admin?  %>
                  <% if request.url != "http://localhost:3000/" %>
                    <li><a class="page-scroll" id="home" href="/">Home</a></li>
                    <li><a class="page-scroll" href="/">About us</a></li>
                    <li><a class="page-scroll" href="/">Courses</a></li>
                    <li><a class="page-scroll" href="/">Why choose Us</a></li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gallery
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a class="page-scroll" href="/">Student Gallery</a></li>
                        <li><a href="/office_galleries">Office Gallery</a></li>
                       
                      </ul>
                    </li>
                    <li><a class="page-scroll" href="/">Contact Us</a></li>
                  <% else %>
                    <li><a class="page-scroll" id="home" href="#slider">Home</a></li>
                    <li><a class="page-scroll" href="#about-us">About us</a></li>
                    <li><a class="page-scroll" href="#courses">Courses</a></li>
                    <li><a class="page-scroll" href="#home_our_work">Why choose Us</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gallery
                          <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        <li><a class="page-scroll" href="#office-gallery">Student Gallery</a></li>
                        <li><a href="office_galleries">Office Gallery</a></li>
                      </ul>
                    </li>
                    <li><a class="page-scroll" href="#contact">Contact Us</a></li>
                  <% end %>

                  <li class="dropdown" id="menu1">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Setting
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="/student_galleries">Student Gallery</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/office_galleries">Office Gallery</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="/users/edit">Account</a></li>
                      <li role="presentation" class="divider"></li>
                      
                      <li role="presentation"><%= link_to('Logout', destroy_user_session_path, :method => :delete, role: "menuitem", tabindex: "-1") %> </li>
                    </ul>
                  </li>

                <% end %>
            <% end %>
            </ul>
          </div>
        </div>
    </nav> 

  